/libs/
/logs/
/dist/
.secret

/supplemental/Packs/*
/supplemental/pz-zdoc-3.1.0
/supplemental/TileZed
/supplemental/WorldEd
/supplemental/Tiles/2x
/supplemental/Tiles/*
/supplemental/BlenderResources/
/supplemental/Mods/

# Add your pack and tiles to be INCLUDED in git by adding them below with an exclaimation mark.
# ie:
# !/supplemental/Packs/your_media.pack
# !/supplemental/Tiles/your_media.tiles